<meta name="viewport" content="width=device-width, initial-scale=1">

<%# nav_bar needs to be created %>
<%=  render 'nav_bar' %> 

<div class="container">

  <div class="row">
    <div class="col d-flex justify-content-center align-content-center">
      <form class="p-5 text-center">
        <p class="col para", style="font-weight:bold;">Want a 5% discount on your next order?</p>
        <input class="col" type="email" name="email" placeholder="Enter your email here">
        <br>
        <input class="col mt-3 btn-primary btn-sm" type="submit" value="GO!", style="background-color:#FF9F68; border:none; width:105px;">
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col d-flex justify-content-center">
      <article class="p-5", style="max-width:790px;">
        <h2 class="header", style="color:#FF9F68;">Premium Phones</h2>
        <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore </p>
        <button type="button" class="btn btn-primary btn-sm">SHOP NOW!</button>
      </article>
    </div>
  </div>

  <div class="row">
    <div class="col d-flex justify-content-center">
      <article class="p-5", style="max-width:790px;">
        <h2 class="header", style="color:#FF9F68;">Quality Accessories</h2>
        <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et</p>
        <button type="button" class="btn btn-primary btn-sm">SHOP NOW!</button>
      </article>
    </div>
  </div>

  <div class="row">
    <div class="col d-flex justify-content-center">
      <article class="p-5", style="max-width:790px;">
        <h2 class="header", style="color:#FF9F68;">Fast Shipping</h2>
        <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
        nisi ut aliquip ex ea commodo consequat.</p>
        <button type="button" class="btn btn-primary btn-sm">SHOP NOW!</button>
      </article>
    </div>
  </div>

</div>

<%# footer needs to be created %>
<%=  render 'footer' %>