<div class="col m-5 text-center border border-1 rounded-3", style="max-width:300px;">
	<%= image_tag("IPHONE-XS-MAX-case.jpg", alt: "iPhone XS Max Ring Armor Case - Rose/Gold", style: "width: 220px; height:200px", class: "p-3") %>
	<p class="h4 pb-3">iPhone XS Max Ring Armor Case</p>
	<p class="para">€15.00</p>
	<button type="button" class="btn btn-primary btn-sm m-3">Add to Cart</button>
</div>

