<div class="col m-5 text-center border border-1 rounded-3", style="max-width:300px;">
	<%= image_tag("iphone-charger.jpg", alt: "iPhone Mains Charger", style: "width: 220px; height:200px") %>
	<p class="h4 pb-5">iPhone Mains Charger</p>
	<p class="para">€12.00</p>
	<button type="button" class="btn btn-primary btn-sm m-3">Add to Cart</button>
</div>