<div class="col m-5 text-center border border-1 rounded-3", style="max-width:300px;">
  <%= image_tag("oneplus-nordce.png", alt: "OnePlus Nord CE 2 Lite 5G", style: "width: 220px;") %>
  <p class="h4 pb-3">OnePlus Nord CE 2 Lite 5G</p>
  <p class="para">€299.00</p>
  <button type="button" class="btn btn-primary btn-sm m-3">Add to Cart</button>
</div>
