<!DOCTYPE html>
<html>
  <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<%=  render 'articles/nav_bar' %> 
		<div class="container p-5">
			<div class="col">
				<div class="row">
					<h1 class="h1 border-bottom", style="font-color:#FF9F68">About Us</h1>
				</div>
				<div class="row pt-3">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
					 eiusmod tempor incididunt ut labore et dolore magna aliqua.
					  Ut enim ad minim veniam, quis nostrud exercitation ullamco 
						laboris nisi ut aliquip ex ea commodo consequat. Duis aute 
						irure dolor in reprehenderit in voluptate velit esse cillum 
						dolore eu fugiat nulla pariatur.
				</div>
				<div class="row pt-3">
					<ul class="ps-5">
						<li>Repairs</li>
						<li class="py-3">Phones</li>
						<li>Accessories</li>
					</ul>
				</div>
				<div class="row">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
					 eiusmod tempor incididunt ut labore et dolore magna aliqua.
					  Ut enim ad minim veniam
				</div>
			</div>
		</div>
		<%= render 'articles/footer' %>
	</body>
</html>