<div class="container pb-5">
  <div class="row ps-5 d-flex justify-content-around align-center">
    <div class="col", style="max-width:250px;">
      <h3>Colour</h3>
      <div class="row">
        <section class="col">
          <button class="btn btn-primary rounded-circle active" type="button" style="background-color:black;width:25px;height:25px;" value="black"></button>
          <p>Black</p>
        </section>
        <section class="col">
          <button class="btn btn-primary rounded-circle" type="button" style="background-color:red;width:25px;height:25px;" value="red"></button>
          <p>Red</p>
        </section>
        <section class="col">
          <button class="btn btn-primary rounded-circle" type="button" style="background-color:Blue;width:25px;height:25px;" value="blue"></button>
          <p>Blue</p>
        </section>
      </div>
    </div>

    <div class="row ps-5", style="max-width:200px;">
      <h3 class="mb-4">Price</h3>
      <div class="row">
        <p>€299.00</p>
      </div>
    </div>
  </div>

  <a class="text-decoration-none text-reset" data-bs-toggle="collapse" toggle="collapse" href="#hidden1">
    <div class="row py-4 border-bottom">
      <div class="col-10 ps-5">
        <h3>Key Features</h3>
      </div>
      <div class="col">
        <i class="fa-solid fa-plus", style="color:#FF9F68;"></i>
      </div>
    </div>
  </a>

  <%# hidden 1 %>
  <div class="collapse" id="hidden1">
    <div class="p-4">
      <ul>
        <li>Content</li>
        <li class="pt-2">Content</li>
        <li class="pt-2">Content</li>
        <li class="pt-2">Content</li>
      </ul>
    </div>
  </div>

  <a class="text-decoration-none text-reset" data-bs-toggle="collapse" toggle="collapse" href="#hidden2">
    <div class="row py-4 border-bottom">
      <div class="col-10 ps-5">
        <h3>Detailed Specifications</h3>
      </div>
      <div class="col">
        <i class="fa-solid fa-plus", style="color:#FF9F68;"></i>
      </div>
    </div>
  </a>

  <%# hidden 2 %>
  <div class="collapse" id="hidden2">
    <div class="p-4">
      <ul>
        <li>Content</li>
        <li class="pt-2">Content</li>
        <li class="pt-2">Content</li>
        <li class="pt-2">Content</li>
      </ul>
    </div>
  </div>
</div>
