<!DOCTYPE html>
<html>
<head>
	<title></title>

</head>
<body>
	<div class="col m-5 text-center border border-1 rounded-3", style="max-width:300px;">
    <a class="text-decoration-none text-reset" href="#">
    <%= image_tag("IPHONE-XS-MAX-case.jpg", alt: "iPhone XS Max Ring Armor Case - Rose/Gold", style: "width: 220px;") %>
    <p class="h3">iPhone XS Max Ring Armor Case - Rose/Gold</p>
    <br>
    <p class="para">€15.00</p>
    </a>
  </div>

	<%= render 'items/details' %>
</body>
</html>