<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>OnePlus Nord CE 2 Lite 5G - PhoneCare</title>
</head>
<body>
	<div class="col m-5 text-center border border-1 rounded-3", style="max-width:300px;">
		<a class="text-decoration-none text-reset" href="#">
		<%= image_tag("oneplus-nordce.png", alt: "OnePlus Nord CE 2 Lite 5G", style: "width: 220px;") %>
		<p class="h3">OnePlus Nord CE 2 Lite 5G</p>
		<br>
		<p class="para">€299.00</p>
		</a>
	</div>
</body>
</html>