<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>OnePlus Nord CE 2 Lite 5G - PhoneCare</title>
</head>
<body>
	<%= render 'articles/nav_bar' %>

	<%# render right content %>
	
	<%= render 'oneplus_nord_ce' %>
	
	<%= render 'bottom_layout' %>

	<%= render 'articles/footer' %>

	</body>
</html>